div{
float:center;
display:inline;
border:2px solid black;
background-color:grey;
padding:30px;
width:1000px;
height:500px;
}
a.a{
color:black;
padding:35px;
}
a.a:hover{
word-spacing:10px;
color:white;
}
a.b{
color:black;
padding:35px;
}
a.b:hover{
word-spacing:10px;
color:white;
}
a.c{
color:black;
padding:35px;
}
a.c:hover{
word-spacing:10px;
color:white;
}
